* {box-sizing: border-box;}
html, body {
  background: $color-gray-98;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

// -----------------
// Mobile Styles
// -----------------

.gallery-container {
  height: auto;
<<<<<<< HEAD
  width: 95%;
  max-width: 1100px;
=======
  width: 98%;
>>>>>>> search-example
  margin: 0 auto;
}

.header-search {
  padding: $space-inset-m;
  background: hsl(0, 0%, 100%);

  input {
    width: 100%;
    padding: $space-inset-stretch-s;
    background: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .18);

    color: $color-gray-40;
    font-size: 1rem;

    &:focus {
      border: 1px solid $color-highlight;
      outline: none;
      box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .20);
    }

  }
}



@media ( min-width: 700px ) {

  .header-search {
    padding: $space-inset-stretch-m;
    display: flex;
    justify-content: center;

    div {
      display: inline-block;
      margin: 0 auto;
    }

    input {
      width: 350px;
      &:focus {
        border: 1px solid $color-highlight;
        outline: none;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .20);
      }

    }
  }
}
