@import 'design-system/space';



html, body {
  background: hsl(0, 0%, 85%);
  width: 100%;
  height: 100%;
}

.test-container {
  height: 80%;
  width: 80%;
  background: white;
}

.image-gallery {
  & * {margin: 0; padding: 0; box-sizing: border-box;}
  width: 100%;
  height: 100%;
  background: tomato;
  overflow: hidden;
  .content {
    width: 100%;
    height: 100%;
    background: hsl(80, 70%, 65%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    // grid-gap: $space-m;
  }
}

.tall {
  grid-column: span 1;
  grid-row: span 2;
}

.wide {
  grid-column: span 1;
  grid-row: span 1;
}

.img-wrapper {
  padding: $space-s;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  // height: auto;

}

.img-wrapper:nth-child(odd) {
  background: blue;
}
