
// Gray
$color-gray-40:    hsl(0, 0%, 40%);
$color-gray-60:    hsl(0, 0%, 60%);
$color-gray-85:    hsl(0, 0%, 85%);
$color-gray-98:    hsl(0, 0%, 98%);

// Basic
$color-digital-blue:   hsl(193, 83%, 52%);

//  Config
$color-highlight: $color-digital-blue;
